@import "config-colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "utils";
@import "fonts";

.post {
	$blog_border_radius: $post_size/30;
	&.blog {
		$blog_post_color: #F9EFAF;
		$blog_post_color2: #F7E98D;
		background-color: $blog_post_color;

		@include border-radius($blog_border_radius);

		@include gradient-vertical($blog_post_color, $blog_post_color2);

		// paper lines
		&:before {
			//z-index: 7;

			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			opacity: 0.1;
			background: url(../img/paperlines.png) top left repeat;

			@include border-radius($blog_border_radius);
		}

		// all the text
		$post_title_height: 40px;
		.post-title, .post-date {
			font-size: 1em;
			line-height: $post_title_height;
			padding: 0;
			margin: 0;
		}

		.post-title {
			float: left;
		}

		.post-date {
			float: right;
		}

		.post-description {
			float: left;

			//white-space: nowrap;
			text-overflow: ellipsis;
			overflow: hidden;

			height: $post_size - $post_title_height;
			width: $post_size;
		}
	}
}