@import "config-colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "utils";
@import "fonts";

.post {
	$blog_border_radius: $post_size/30;
	&.blog {
		$blog_post_color: #F9EFAF;
		$blog_post_color2: #F7E98D;
		background-color: $blog_post_color;

		@include border-radius($blog_border_radius);

		@include gradient-vertical($blog_post_color, $blog_post_color2);

		// all the text
		.post-title, .post-date {

		}

		.post-title {

		}

		.post-date {

		}

		.post-description {

		}
	}
}