@import "config-colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "utils";
@import "fonts";

.post {
	&.video {
		background-color: #000;
		color: #fff;

		// style the image itself
		.post-image {
			background-color: #000;
			background-size: cover;

			margin-top: $gridGutterWidth/2;
			margin-bottom: $gridGutterWidth/2;
			margin-left: $gridGutterWidth*1.5;
			margin-right: $gridGutterWidth*1.5;
			height: $post_size - $gridGutterWidth;
		}

		// overlay...
		&:after {
			content: '';
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			background: url(../img/play.png) center center no-repeat;

			opacity: 0.3;
			@include transition-duration(0.5s);
		}

		&:hover:after {
			@include transition-duration(0.5s);
			opacity: 0.65;
		}

		// all the text
		$post_title_size: 2em;
		.post-title, .post-date {
			margin: 0;
			padding: 0;
			position: relative;

			font-family: $FONT_pompiere;
			font-size: $post_title_size;

			$textshadow_col: #000;
			@include text-shadow(
					-1px -1px 0 $textshadow_col,  
					1px -1px 0 $textshadow_col,
					-1px 1px 0 $textshadow_col,
					1px 1px 0 $textshadow_col
			);
		}

		.post-title {
			left: $post_title_size / 6 / 2;
			float: left;
		}

		.post-date {
			$post_date_size: $post_title_size * .75;

			float: right;
			font-size: $post_date_size;
			top: $post_date_size / 4;
			right: $post_date_size / 4;
		}

		.post-description {
			position: relative;
			top: -2.5em;
			height: 2em;
			padding-top: 0.5em;
			margin-left: $gridGutterWidth*1.5;
			margin-right: $gridGutterWidth*1.5;

			font-family: $FONT_pompiere;
			font-size: 1.5em;
			text-align: center;


			background-color: rgba(0,0,0,.5);
		}
	}
}