// colors listed in order of frequency of suggested use

// the main background
$pcolor_1: #E1DCE2;

// secondary background (think: sidebar)
$pcolor_2: #181C1B;

// highlights
$pcolor_3: #CDD98A;

// secondary highlights
$pcolor_4: #97B78F;

// shadows/darks
$pcolor_5: #4C9396;

$text_color_1: #000;
$text_color_2: #fff;

// current palette: 
// 3/4/5:
// http://www.colourlovers.com/palette/2803221/D_e_w_d_r_o_p_s_*
// 1/2:
// http://www.colourlovers.com/palette/2808323/hes_a_charmer
