// colors listed in order of frequency of suggested use

// the main background
$pcolor_1: #F2EEC7;

// secondary background (think: sidebar)
$pcolor_2: #575865;

// highlights
$pcolor_3: #CDD98A;

// secondary highlights
$pcolor_4: #97B78F;

// shadows/darks
$pcolor_5: #4C9396;

// current palette: 
// http://www.colourlovers.com/palette/2803221/D_e_w_d_r_o_p_s_*