@import "config-colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "utils";

.post {
	height: $post_size;
	float: left;

	margin: $gridGutterWidth/2;
	//margin-top: $gridGutterWidth/2;
	//margin-bottom: $gridGutterWidth/2;

	cursor: pointer !important;

	//@include border-radius($post_size/40);

	// individual post type styles
	&.default 
	,&.project
	,&.github
	,&.forrst
	,&.blog
	{
		width: $post_size;
	}

	&.video, &.photo {
		width: $post_size_L;
	}
}

@import "main-panel_post-types/photo";
@import "main-panel_post-types/video";