@import "config-colors";
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "utils";

.post {
	height: $post_size;
	float: left;

	margin: $gridGutterWidth/2;
	//margin-top: $gridGutterWidth/2;
	//margin-bottom: $gridGutterWidth/2;

	cursor: pointer !important;

	//@include border-radius($post_size/40);

	// individual post type styles
	&.default 
	,&.project
	,&.github
	,&.forrst
	,&.blog
	{
		width: $post_size;
	}

	&.video, &.photo {
		width: $post_size_L;
	}

	@include transition(all 0.2s linear);
	@include box-shadow(0px 0px 5px rgba(0,0,0,.25));

	&:hover {
		@include transition(all 0.2s linear);
		@include box-shadow(0px 0px 10px rgba(0,0,0,.7));
	}
}

@import "main-panel_post-types/photo";
@import "main-panel_post-types/video";